[user]
	name = Stephen McCullough
	email = me@swm.cc
[credential]
	helper = osxkeychain
[github]
	user = swmcc
[core]
  excludesfile = ~/.gitignore
[alias]
  alias gl='git pull --prune'
  alias ga='git add .'
  alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
  alias gp='git push origin '
  alias gr='git rebase -i HEAD~'
  alias gd='git diff'
  alias gc='git commit'
  alias gca='git commit -a'
  alias gcm='git commit -am'
  alias gco='git checkout'
  alias gb='git branch'
  alias gs='git status -sb'
  alias grm="git status | grep deleted | awk '{print \$3}' | xargs git rm"
  alias gwho="git shortlog -s | sort -nr"
  alias gsb="git branch -a" 
[ghi]
	token = 
[push]
	default = simple
