alias ...='../..'
alias l='ls -altrh'
alias e="$EDITOR"
alias v="$VISUAL"

# If you aren't on a mac then use netstat -p or something
alias op="lsof -i -P | grep -i "listen" | grep 'swm'"

# tmux 
alias ts='tmux_sessions'
alias ta='tmux attach -t'
alias tm='tmux switch -t'
alias tk='tmux kill-session -t'

# python 
alias pythong='python'
alias va=". ./venv/bin/activate"
alias da="deactivate"
alias pin='touch __init__.py'

# workflow
alias f="fg"
alias v="vim"
alias psr='php -S localhost:1234'
alias tlf="tail -f"
alias c='~/Code/'

# git
alias gl='git pull --prune'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gp='git push origin master'
alias gd='git diff'
alias gc='git commit'
alias gca='git commit -a'
alias gcm='git commit -m'
alias gco='git checkout'
alias gb='git branch'
alias gs='git status -sb' 
alias gsb="git branch -a"
alias grm="git status | grep deleted | awk '{print \$3}' | xargs git rm"
alias gwho="git shortlog -s | sort -nr"
alias ga='git add .'
alias gaw="git add . && git commit -m 'WIP'"
alias gw="git commit -am 'WIP'"
alias gdc="git diff | pbcopy"
alias gsdc="git show $1 | pbcopy"
alias grb='git rebase -i HEAD~10'
