alias ...='../..'
alias l='ls -altrh'
alias e="$EDITOR"
alias v="$VISUAL"

# If you aren't on a mac then use netstat -p or something
alias op="lsof -i -P | grep -i "listen" | grep 'swm'"

# python 
alias pin='touch __init__.py'

# workflow
alias f="fg"
alias vim='nvim'
alias v="nvim"
alias tlf="tail -f"
alias c='~/Document/Code/'

# git
alias gl='git pull --prune'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gp='git push origin master'
alias gd='git diff'
alias gc='git commit'
alias gca='git commit -a'
alias gcm='git commit -m'
alias gco='git checkout'
alias gb='git branch'
alias gs='git status -sb' 
alias gsb="git branch -a"
alias grm="git status | grep deleted | awk '{print \$3}' | xargs git rm"
alias gwho="git shortlog -s | sort -nr"
alias ga='git add .'
alias gaw="git add . && git commit -m 'WIP'"
alias gw="git commit -am 'WIP'"
alias gdc="git diff | pbcopy"
alias gsdc="git show $1 | pbcopy"
alias grb='git rebase -i HEAD~10'
alias gfc='git diff --stat --name-only'

pretty_tmux_ls() {
  local sessions=$(tmux ls "$@")
  local counter=1

  clear
  while IFS= read -r session; do
    local session_name=$(echo $session | awk -F: '{print $1}')
    echo "$counter: $session_name"
    counter=$((counter + 1))
  done <<< "$sessions"
}

attach_tmux_session() {
  local session_name="$1"
  if [ -z "$session_name" ]; then
    echo "Usage: ta <session_name>"
    return 1
  fi
  tmux attach-session -t "$session_name"
}

kill_tmux_session() {
  local session_name="$1"
  if [ -z "$session_name" ]; then
    echo "Usage: tk <session_name>"
    return 1
  fi
  tmux kill-session -t "$session_name"
}

alias ts='pretty_tmux_ls'
alias ta='attach_tmux_session'
alias tk='kill_tmux_session'
