alias ...='../..'
alias l='ls -altrh'
alias e="$EDITOR"
alias v="$VISUAL"

# If you aren't on a mac then use netstat -p or something
alias op="lsof -i -P | grep -i "listen" | grep 'swm'"

# tmux 
alias ts='tmux_sessions'
alias ta='tmux attach -t'
alias tm='tmux switch -t'
alias tk='tmux kill-session -t'

# python 
alias pythong='python'
alias va=". ./venv/bin/activate"
alias da="deactivate"
alias pin='touch __init__.py'

# ruby
alias ffs="foreman start"
alias bi='bundle install'
alias rdc='rake db:create'
alias rds='rake db:seed'
alias rdm='rake db:migrate'
alias rt='rake test'
alias rs='rails s'

# workflow
alias f="fg"
alias v="vim"
alias pj="cat $1 | python -m json.tool"
alias dev='cd ~/Development/'
alias pdev='cd ~/Development/personal/'
alias wdev='cd ~/Development/work/'
alias psr='php -S localhost:1234'
alias tlf="tail -f"

# FUCK SAKE
alias fgerp='fgrep'
alias grrr='find . -name "*.sw*" | xargs rm'

# MIQ stuff
alias pasdb='make heroku.staging.pulldata && make loaddata'
alias adev='cd ~/Development/work/audit-comply'
alias sdev='cd ~/Development/work/salt-dna' 

# rails
alias rs='rails server'
alias bi='bundle install'
alias bii='bundle init'
alias bc='bundle init'
alias rr='rake routes'

# git
alias gl='git pull --prune'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gp='git push origin master'
alias gd='git diff'
alias gc='git commit'
alias gca='git commit -a'
alias gcm='git commit -m'
alias gco='git checkout'
alias gb='git branch'
alias gs='git status -sb' 
alias gsb="git branch -a"
alias grm="git status | grep deleted | awk '{print \$3}' | xargs git rm"
alias gwho="git shortlog -s | sort -nr"
alias gm='git checkout master'
alias ga='git add .'
alias gaw="git add . && git commit -m 'WIP'"
alias gw="git commit -am 'WIP'"
